.barBox {
    display: flex;
    height: 15px;
}

.leftBar {
    flex: 1;
    border-width: 1px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;

    &:hover {
        transform: scaleY(1.4);
    }
}

.rightBar {
    flex: 1;
    border-width: 1px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;

    &:hover {
        transform: scaleY(1.4);
    }
}

.rightBarFull {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.leftBarFull {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
