.tableHover tbody tr:hover td,
.tableHover tbody tr:hover th {
    background-color: var(--base-light-variant);
}

.tableHover td,
.tableHover th {
    padding: 0.5rem 0.5rem !important;
}

.verticalAlignTop td {
    vertical-align: top;
}

.textClipContainer {
    height: 1.5rem;
    overflow: visible;
    position: relative;
}

.procurementDetailsTable td:nth-child(2),
.procurementDetailsTable th:nth-child(2) {
    padding-left: 2rem !important;
}
