.tableHover tbody tr:hover td,
.tableHover tbody tr:hover th {
    background-color: var(--base-light-variant);
}

.tableHover td {
    padding: 0.5rem 0.5rem !important;
    vertical-align: top;
    padding-bottom: 0 !important;
}
.tableHover th {
    padding: 0.5rem 0.5rem !important;
}
