thead button.ascending::after {
    // unicode for arrow-long-up
    content: "\2191";
    display: inline-block;
    margin-left: 1em;
    color: #71767a;
}

thead button.descending::after {
    // unicode for arrow-long-down
    content: "\2193";
    display: inline-block;
    margin-left: 1em;
    color: #71767a;
}
