[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==4.0.2"
psycopg2-binary = "==2.9.1"
cfenv = "0.5.3"

[dev-packages]
pytest-django = "==4.4.0"
pytest-cov = "==3.0.0"

[requires]
python_version = "3.9"
