.notificationCircle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    border-radius: 50%;
    background-color: #b50909;
    color: white;
    font-size: 12px;
    min-width: 19px;
    min-height: 19px;
}
