.notificationCircle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: maroon;
    color: white;
    font-size: 12px;
}
