// USWDS overrides
.usa-table td,
.usa-table th {
    padding: 0.5rem 0.5rem;
}

.underReview {
    background-color: #8B4687;
    color: white;
}

.usa-icon {
    overflow: visible;
    box-sizing: content-box;
}
