{% extends "base.html" %}

{% block content %}
    <main>
        <table>
            <caption>List of all CANs</caption>
            <tr><th>number</th><th>description</th></tr>
            {% for can in object_list %}
                <tr><td><a href="{{ can.id }}">{{ can.number }}</a></td><td>{{can.description}}</td></li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
{% block header %}
<header>
    OPRE OPS &mdash;
    <a href="/ops/home">Home</a>
    <strong>CANs</strong>
</header>
{% endblock %}
