{% extends "base.html" %}

{% block content %}
    <main>
        <div class="flex">
            <div class="one">
                <div class="rounded-box flex">
                    <p>This is the OPRE<br>OPS system prototype.</p>
                    <img src="/static/img/family.svg" class="illustration" />
                </div>
            </div>
            <div class="two">
                <div class="rounded-box">
                    <table>
                        <caption>Workflows</caption>
                        <tr><th>Name</th><th>Path</th></tr>
                        <tr><td>CANs</td><td><a href="/ops/view/cans">/ops/view/cans</a></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </main>


{% endblock %}
{% block header %}
    <header>
        OPRE OPS &mdash;
        <strong>Home</strong>
        <a href="/ops/cans">CANs</a>
    </header>
{% endblock %}
