$secondary-dark: #b50909;

.usa-form-group {
    label:has(+ .usa-input-group input[required])::after {
        content: " *";
        color: $secondary-dark;
    }
    label:has(+ .usa-date-picker input[required])::after {
        content: " *";
        color: $secondary-dark;
    }
    input[type="checkbox"][required] + label::after {
        content: " *";
        color: $secondary-dark;
    }
    input[type="radio"][required] + label::after {
        content: " *";
        color: $secondary-dark;
    }
    .usa-input-prefix {
        z-index: 1;
    }
}

.usa-fieldset {
    legend[data-required="true"]::after {
        content: " *";
        color: $secondary-dark;
    }
    legend[data-required="true"] ~ .usa-form-group {
        input[type="radio"][required] + label::after {
            content: "";
            color: transparent;
        }
    }
}

.usa-fieldset.radio-group {
    .usa-form-group.usa-radio {
        margin-top: 0;
    }
}

.required-form-field {
    color: $secondary-dark;
}

.form-requirements-notice {
    margin-bottom: 1rem;
}
