[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
faker = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.10"
