.box {
    margin-top: 25px;
    margin-bottom: 9px;  /* Lower text block has top margin of 16px. (16 + 9 = 25) */
    display: flex;
    align-items: center;
    height: 2em;
}

.title {
    font-weight: 700;
    font-size: 15px;
    font-style: normal;
    padding-right: 15px;
}

.leader {
    padding-right: 20px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.leaderName{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.icon {
    height: 25px;
    width: 25px;
    padding-right: 7px;
}
