.box {
    margin-top: 25px;
    margin-bottom: 9px;
}

.title {
    font-weight: 700;
    font-size: 15px;
    font-style: normal;
    padding-right: 15px;
}

.leader {
    padding-right: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.icon {
    padding-right: 7px;
}
