@forward "uswds-theme";
@forward "uswds";
@forward "uswds-theme-custom-styles";
@forward "uswds-utilities";

html {
    scroll-behavior: smooth;
}

:root {
    --primary-light: hsl(204 58% 83%);
    --primary: hsl(205 48% 38%);
    --primary-dark: hsl(205 45% 27%);
    --secondary-light: hsl(39 93% 95%);
    --secondary: hsl(38 26% 75%);
    --secondary-dark: hsl(38 27% 14%);
    --neutral-lightest: hsl(0 0% 94%);
    --neutral-lighter: hsl(202 5% 68%);
    --neutral-light: hsl(204 2% 43%);
    --neutral: hsl(207 4% 46%);
    --neutral-dark: hsl(0 0% 11%);
    --neutral-warm: hsl(184 7% 41%);
    --feedback-info-light: hsl(187 55% 94%);
    --feedback-info: hsl(191 100% 38%);
    --feedback-info-dark: hsl(197 44% 32%);
    --feedback-error-light: hsl(19 53% 91%);
    --feedback-error: hsl(0 91% 37%);
    --feedback-error-dark: hsl(2 39% 31%);
    --feedback-warning-light: hsl(50 80% 90%);
    --feedback-warning: hsl(42 100% 45%);
    --feedback-warning-dark: hsl(36 45% 40%);
    --feedback-success-light: hsl(120 23% 94%);
    --feedback-success: hsl(129 25% 40%);
    --feedback-success-dark: hsl(118 20% 33%);
    --feedback-disabled-light: hsl(0 0% 90%);
    --feedback-disabled: hsl(0 0% 79%);
    --feedback-disabled-dark: hsl(0 0% 68%);
    --dataviz-blue: hsl(205 48% 38%);
    --dataviz-light-green: hsl(157 33% 72%);
    --dataviz-red: hsl(0 91% 37%);
    --dataviz-yellow: hsl(42 100% 45%);
    --dataviz-brown: #6f3331;
    --dataviz-dark-pink: hsl(337 35% 62%);
    --dataviz-dark-blue: hsl(205 45% 27%);
    --dataviz-dark-green: hsl(147 39% 40%);
    --dataviz-orange: hsl(30 71% 49%);
    --dataviz-teal: hsl(183 39% 42%);
}

$themeColors: (
    "primary-light": var(--primary-light),
    "primary": var(--primary),
    "primary-dark": var(--primary-dark),
    "secondary-light": var(--secondary-light),
    "secondary": var(--secondary),
    "secondary-dark": var(--secondary-dark),
    "neutral-lightest": var(--neutral-lightest),
    "neutral-lighter": var(--neutral-lighter),
    "neutral-light": var(--neutral-light),
    "neutral": var(--neutral),
    "neutral-dark": var(--neutral-dark),
    "neutral-warm": var(--neutral-warm),
    "feedback-info-light": var(--feedback-info-light),
    "feedback-info": var(--feedback-info),
    "feedback-info-dark": var(--feedback-info-dark),
    "feedback-error-light": var(--feedback-error-light),
    "feedback-error": var(--feedback-error),
    "feedback-error-dark": var(--feedback-error-dark),
    "feedback-warning-light": var(--feedback-warning-light),
    "feedback-warning": var(--feedback-warning),
    "feedback-warning-dark": var(--feedback-warning-dark),
    "feedback-success-light": var(--feedback-success-light),
    "feedback-success": var(--feedback-success),
    "feedback-success-dark": var(--feedback-success-dark),
    "feedback-disabled-light": var(--feedback-disabled-light),
    "feedback-disabled": var(--feedback-disabled),
    "feedback-disabled-dark": var(--feedback-disabled-dark),
    "dataviz-blue": var(--dataviz-blue),
    "dataviz-light-green": var(--dataviz-light-green),
    "dataviz-red": var(--dataviz-red),
    "dataviz-yellow": var(--dataviz-yellow),
    "dataviz-brown": var(--dataviz-brown),
    "dataviz-dark-pink": var(--dataviz-dark-pink),
    "dataviz-dark-blue": var(--dataviz-dark-blue),
    "dataviz-dark-green": var(--dataviz-dark-green),
    "dataviz-orange": var(--dataviz-orange),
    "dataviz-teal": var(--dataviz-teal),
);

@each $name, $color in $themeColors {
    .bg-brand-#{$name} {
        background-color: $color !important;
    }
    .text-brand-#{$name} {
        color: $color !important;
    }
}
