[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
SQLAlchemy = "==2.0.18"
pandas = "==1.5.3"
json5 = "==0.9.14"
psycopg2-binary = "==2.9.6"
cfenv = "==0.5.3"
sqlalchemy-mixins = "==1.5.3"
typing-extensions = "==4.7.1"
desert = "2022.9.22"
sqlalchemy-continuum = "==1.4.0"

[dev-packages]
nox = "==2023.4.22"
flake8 = "==6.0.0"
flake8-black = "==0.3.6"
flake8-import-order = "==0.18.2"
flake8-bugbear = "==23.7.10"
flake8-bandit = "==4.1.1"
pytest = "==7.4.0"
pytest-cov = "==4.1.0"
pytest-mock = "==3.11.1"
ipython = "==8.14.0"
pytest-docker = {extras = ["docker-compose-v2"], version = "==1.0.1"}
black = {extras = ["d"], version = "==23.3.0"}
types-all = "==1.0.0"

[requires]
python_version = "3.10"
