.Modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.flexContainer {
    display: flex;
    height: 100%;
}

.flexLeft {
    flex: 5;
    opacity: 0.7;
    background-color: black;
}

.flexRight {
    flex: 3;
    background: #F0F0F0;
}

.closeButtonWrapper {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
}

.headerSection {
    display: flex;
    padding-left: 20px;
    gap: 40%;
    line-height: 0;
    vertical-align: center;
    padding-top: 10%;
}

.clearButton {
    color: #005EA2;
    padding: 2px;
}

.clearButtonIcon {
    position: relative;
    top: 4px;
}
