input[type="date"] {
    /* USWDS style properties */
    border: 1px solid #aeb0b5;
    border-radius: 0;
    padding: 0.5rem 0.75rem;
    font-size: 0.9375rem;
    line-height: 1.5;
    color: #212529;
    background-color: #ffffff;
    background-clip: padding-box;
}

input[type="date"]:focus {
    outline: none;
    border-color: #2491ff;
    box-shadow: 0 0 0 0.2rem rgba(37, 145, 255, 0.25);
}

/* Adjusts the placeholder color to match USWDS standards */
::-webkit-datetime-edit-fields-wrapper {
    color: #212529; /* Change to desired placeholder text color */
}

/* Customize the look on focus within the input field */
input[type="date"]:focus::-webkit-datetime-edit-fields-wrapper {
    color: #000;
}
