.notificationListItem {
    list-style-type: none;
    padding-right: 10%;
}

.notificationListItem:not(:first-of-type) {
    margin-top: 20px;
    margin-bottom: 20px;
}

.notificationClock {
    width: 18px;
    height: 18px;
}
