.stackedBarContainer {
    display: flex;
    height: 15px;
    width: 100%;
    border-radius: 4px;
}

.segment {
    height: 100%;
    border: none;
    transition: transform 0.2s ease;
    cursor: pointer;
    flex-shrink: 0;
    flex-grow: 1;

    &:hover,
    &:focus {
        transform: scaleY(1.4);
        outline: 2px solid var(--link-color);
        outline-offset: 2px;
        z-index: 1;
    }

    &:focus {
        outline: 2px solid var(--link-color);
        outline-offset: 2px;
    }

    &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}
