.container {
    /*background: #F0F0F0;    */
    /*border-color: #A9AEB1;*/
    /*border-width: 1px;*/
    /*box-sizing: border-box;*/
    /*width: 100%;*/
    /*float: left;*/
    display: flex;
 }

.clear {
    clear: both;
}

.leftMarginContainer {
    background: #F0F0F0;
    border: 1px solid #A9AEB1;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    height: 250px;
    /*float: left;*/
    /*width: 200px;*/
    /*box-sizing: border-box;*/
    /*display: inline-block;*/
    flex: 1;
}

.cardBodyDiv {
    /*background: #FFFFFF;*/
    /*border-radius-: 4px;*/
    border: 1px solid #A9AEB1;
    border-radius-: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    /*width: 850px;*/
    height: 250px;
    /*box-sizing: border-box;*/
    display: inline-block;
    /*float: left;*/
    flex: 3;
}

.leftMarginSubContainer {
    height: 70px;
}

.fundingYTD {
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    height: 125px;
}

.budgetStatus {
    /*display: flex;*/
    height: 125px;
}

.tag {
    /*flex: 1;*/
}

.canFundingYTD {
    /*flex: 1;*/
}
