.barBox {
    /*display: flex;*/
    /*flex-row: row wrap;*/
    /*width: 1000px;*/
    height: 25px;
}

/*.alignLeft {*/
/*    width: 33.33333%;*/
/*    text-align: left;*/
/*}*/

/*.alignRight {*/
/*    width: 33.33333%;*/
/*    text-align: right;*/
/*}*/

/*.alignLeft {*/
/*    !*float: left;*!*/
/*    !*width: 33.33333%;*!*/
/*    flex: 1;*/
/*    text-align: left;*/
/*}*/

/*.alignRight {*/
/*    !*float: left;*!*/
/*    !*width: 33.33333%;*!*/
/*    flex: 1;*/
/*    text-align: right;*/
/*}*/

.blah {
    flex: 1;
    background-color: #8b0a03;
}
