[class*=font-sans-] {
    font-family: "Public Sans";
}

.font-sans-3xs {
    font-size: 13px;
}

.font-sans-2xs {
    font-size: 14px;
}

.font-sans-xs {
    font-size: 15px;
}

.font-sans-sm {
    font-size: 16px;
}

.font-sans-md {
    font-size: 17px;
}

.font-sans-lg {
    font-size: 22px;
}

.font-sans-xl {
    font-size: 32px;
}

.font-sans-2xl {
    font-size: 40px;
}

.font-sans-3xl {
    font-size: 48px;
}
