button {
    background: none!important;
    border: none;
    text-align: left;
    /*padding: 0!important;*/
    /*optional*/
    /*font-family: arial, sans-serif;*/
    /*input has OS specific font-family*/
    /*color: #069;*/
    /*text-decoration: underline;*/
    /*cursor: pointer;*/
}

.readMore {
    color: #069;
    text-decoration: underline;
}

.hidden {
    display: none;
}

.visible {
    display: inline;
}
