button {
    background: none!important;
    border: none;
    text-align: left;
    padding: 0!important;
}

.readMore {
    color: #069;
    text-decoration: underline;
}

.hidden {
    display: none;
}

.visible {
    display: inline;
}
