button {
    background: none;
    border: none;
    text-align: left;
    padding: 0;
}

p {
    line-height: 24px;
}

.readMore {
    color: #069;
    text-decoration: underline;
}

.hidden {
    display: none;
}

.visible {
    display: inline;
}

.upRightIcon {
    height: 9px;
    width: 9px;
    padding-left: 4px;
    vertical-align: middle;
}
