[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
flake8 = "*"
black = "*"
isort = "*"
mypy = "*"
flask-jwt-extended = {extras = ["asymmetric_crypto"], version = "*"}
flask-sqlalchemy = "*"
authlib = "*"
requests = "*"

[dev-packages]
nox = "*"
ipython = "*"
types-all = "*"
pytest-flask = "*"

[requires]
python_version = "3.10"
