// USWDS overrides
.usa-table td,
.usa-table th {
    padding: 0.5rem 0.5rem;
}


.underReview {
    color: white;
}
.border-top-none {
    border-top: none !important;
}
.border-bottom-none {
    border-bottom: none !important;

}
