.flexContainer {
    display: flex;
    justify-content: space-between;
}

.notificationListItem {
    list-style-type: none;
    padding-right: 10%;
}

.notificationClock {
    width: 18px;
    height: 18px;
}

.hrClass {
    background: #A9AEB1;
    height: 1px;
}
