name: Nightly Security Analysis
on:
  workflow_dispatch:
  schedule:
    # cron format: 'minute hour dayofmonth month dayofweek'
    # this will run at 8AM UTC every day (3am EST / 4am EDT)
    - cron: '0 8 * * *'

env:
  SCRIPT_RELATIVE_PATH: ".github/actions/zap-json-to-sarif/zap_json_to_sarif.py"
  URL_TO_SCAN: "https://stg.ops.opre.acf.gov/"

jobs:
  dast-scan:
    name: OWASP ZAP Scan
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      # take note that currently the checkout action recursively deletes the contents of the directory where this is run
      - name: Check out the repository to the runner
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          sparse-checkout: ${{ env.SCRIPT_RELATIVE_PATH }}
          sparse-checkout-cone-mode: false

      - name: Run OWASP Zap Scan on staging
        uses: zaproxy/action-full-scan@3c58388149901b9a03b7718852c5ba889646c27c # v0.13.0
        with:
          docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
          target: ${{ env.URL_TO_SCAN }}
          allow_issue_writing: false
          fail_action: false
          cmd_options: '-I -l FAIL'

      - name: Convert ZAP JSON to SARIF
        run: |
          chmod +x ${{ env.SCRIPT_RELATIVE_PATH }}
          python3 ${{ env.SCRIPT_RELATIVE_PATH }} ./report_json.json ./report.sarif

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@6bc82e05fd0ea64601dd4b465378bbcf57de0314 # v4
        with:
          sarif_file: ./report.sarif
